<div class="row">
    <div class="col-xs-6">
        <h1><small>Проверка подключения к серверу</small></h1><br />
        <span>Состояние: <span class="label" id="infoConnect"></span></span><br /><br />
        <input class="btn btn-primary" value="Подключиться" type="button" id="btn_conect" />
        <input class="btn btn-warning" value="Отключиться" type="button" id="btn_disconnect" />
    </div>
    <div class="col-xs-6">
        <h1><small>Сервер</small></h1><br />
        <span>Состояние: <span class="label alert-info" id="ServPort">Неизвестно</span></span><br /><br />
        <input class="btn btn-primary" value="Открыть порт" type="button" id="btn_serv" />
    </div>
</div>
<hr />
<div class="row">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Инфо о пользователях и группах
    </button>
    <div class="collapse" id="collapseExample">
        <div class="col-xs-6">
            <h1><small>Зарег. пользователи</small></h1><br />
            @foreach (var us in ViewBag.users)
            {
                <div class="well">
                    <i>public_id (login): </i>@us.Key <br />
                    <i>an: </i>@us.Value
                </div>
            }
        </div>
        <div class="col-xs-6">
            <h1><small>Группы</small></h1><br />
            @foreach (var us in ViewBag.groups)
            {
                <div class="well">
                    <i>Название: </i>@us.Value<br />
                    <i>public_id: </i>@us.Key
                </div>
            }
        </div>
    </div>
</div>
<hr />
<div class="row">
    <br />
    <div class="col-xs-6">
        <textarea class="form-control" rows="15"  id="message" placeholder="Строка запроса"></textarea><br />
        <input class="btn btn-success pull-right" type="button" value="Отправить" id="send" >
    </div>
    <div class="col-xs-6">
        <div class="well">
            <pre>
Для того чтобы получать ответ от сервера, необходимо подписаться на рассылку:
{
    "execFun": "subscribe",
    "data": {
        "login": "public_id",
        "an": "user AN"
    }
}

Остальные запросы в соостветствии с описанным <a href="https://trello.com/c/590NmVVp/8-api-prototype">API</a> 
            </pre>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">               
                <span class="label label-info ">Ответ:</span>
                <button type="button" class="btn btn-danger btn-sm pull-right" style="margin-top:-5px" id="clean">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clean
                </button>
            </div>
            <div class="panel-body" id="messages">
            </div>
        </div>       
    </div>
    @Scripts.Render("~/bundles/jquery")
</div>


<script type="text/javascript">
    var socket,
        $txt = document.getElementById('message'),
            
        $messages = document.getElementById('messages');

        openPort()
        reConnect()
        
    function reConnect() {
       
        if (typeof (WebSocket) !== 'undefined') {
            socket = new WebSocket("ws://192.168.0.102:8181");
        } else {
            socket = new MozWebSocket("ws://192.168.0.102:8181");
        }

        socket.onmessage = function (msg) {
            var $el = document.createElement('p');
            $el.innerHTML = '<div class="well">' + msg.data + '</div>';

            $('#messages').prepend($el);
        };

        socket.onopen = function (event) {
            $('#infoConnect').html('Подключен')
            $('#infoConnect').addClass('label-success')
            $('#infoConnect').removeClass('label-danger')
            $('#btn_conect').attr('disabled', 'disabled')
            $('#btn_disconnect').removeAttr('disabled')
        };

        socket.onclose = function (event) {
            $('#infoConnect').html('Сервер не доступен')
            $('#infoConnect').removeClass('label-success')
            $('#infoConnect').addClass('label-danger')
            $('#btn_conect').removeAttr('disabled')
            $('#btn_disconnect').attr('disabled', 'disabled')
        };
    }

    function openPort() {
        $.ajax({
            url: 'http://localhost/RAIDAChat/socket.ashx',
            statusCode: {
                200: function () {
                    $('#ServPort').html('Порт успешно открыт')
                },
                201: function () {
                    $('#ServPort').html('Порт уже открыт, можно подключаться')
                }
            }

        })   
    }
    $('#btn_serv').click(function () {
        openPort();
    });

    document.getElementById('send').onclick = function () {
        socket.send($txt.value);
        $txt.value = '';
    };

    $('#clean').click(function () {
        $messages.innerHTML = "";
    });

    $('#btn_conect').click(function () {
        reConnect();
    });

    $('#btn_disconnect').click(function () {
        if (socket !== undefined) {
            socket.close();
        }
    });
    

</script>



